.header {
    display: flex;
    background-color: black;
    justify-content: space-around;
}
#headerIMG {
    margin: 0px 8vw;
}
.navLink {
    color: black;
    text-decoration: none;
}
.display-new {
    background-image: url('../img/Goku-energy-blast.avif');
    height: 120vh;
    background-size: cover;
    display: flex;
    justify-content: space-around;
}
.text-box {
    width: 30%;
    -webkit-text-stroke-color: white;
    -webkit-text-stroke-width: 1px;
    font-family: fantasy;
}
.new-form {
    width: 45%; 
}
.new-title {
    -webkit-text-stroke-color: white;
    -webkit-text-stroke-width: 2px;
    font-family: fantasy;
    font-size: 100px;
}
.form-container {
    border-radius: 50%;
    width: 70%;
    height: 62%;
    margin-top: 110px;
    margin-left: 40px;
    font-size: 100;
}
.form-row {
    display: flex;
    flex-direction: column;
    align-items: center;  
}
.new-label {
    font-size: 30px;
    font-weight: bold;
}
.input1, .input2, .input3 {
    background-color: #88ecfb;
    width: 320px;
    border-radius: 5px;
    height: 40px;
    margin: 10px 0px;
}
.row1 {
    margin-top: 15px;
}
.input1 {
    width: 60%;
}
.input2 {
    width: 100%;
}
.row4 {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}
#watched {
    height: 20px;
    width: 20px;
}
.row5 {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}